<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBT SQL GPT</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}"  />
</head>
<body>
    <div id="main-container">
       <div id="accordion-menu">
            <div class="accordion-item">
                <button onclick="toggleAccordionContent('prepare-prompt-content')">Prepare Prompt</button>
                <div id="prepare-prompt-content" class="accordion-content">
                    <p>Content for Prepare Prompt.</p>
                </div>
            </div>
            <div class="accordion-item">
                <a href="/upload">Upload Documents</a>
            </div>
            <div class="accordion-item">
                <button onclick="makeAjaxRequest('/set_openai')">Set OpenAI</button>
            </div>
            <div class="accordion-item">
                <button onclick="makeAjaxRequest('/set_ollama')">Set Ollama</button>
            </div>
        </div>
        <div id="chat-container">
            <div id="header">DBT SQL GPT</div>
            <div id="messages">
                <ul id="messages-list"></ul>
            </div>
            <div id="input-container">
                <input id="message" autocomplete="off" placeholder="Type your message here...">
                <button id="send-button" onclick="sendMessage()">Send</button>
                <div class="loader" id="loader"></div>
            </div>
            <div class="overlay" id="overlay">
                <div class="loader"></div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <p id="modal-content-text"></p>
        </div>
    </div>

    <script>
        var socket = io();

        socket.on('connect', function() {
            console.log('Connected to server');
        });

        socket.on('message', function(msg) {
            var li = document.createElement("li");
            li.appendChild(document.createTextNode(msg));
            li.className = 'received';
            document.getElementById("messages-list").appendChild(li);
            document.getElementById("messages").scrollTop = document.getElementById("messages").scrollHeight;
            document.getElementById('loader').style.display = 'none';  // Hide inline loader when message is received
            document.getElementById('overlay').style.display = 'none';  // Hide overlay when message is received
            document.getElementById('message').disabled = false;
            document.getElementById('send-button').disabled = false;
        });

        function sendMessage() {
            var msg = document.getElementById('message').value;
            if (msg.trim() !== '') {
                var li = document.createElement("li");
                li.appendChild(document.createTextNode(msg));
                li.className = 'sent';
                document.getElementById("messages-list").appendChild(li);
                socket.send(msg);
                document.getElementById('message').value = '';
                document.getElementById("messages").scrollTop = document.getElementById("messages").scrollHeight;
                document.getElementById('loader').style.display = 'inline-block';  // Show inline loader when message is sent
                document.getElementById('overlay').style.display = 'flex';  // Show overlay when message is sent
                document.getElementById('message').disabled = true;
                document.getElementById('send-button').disabled = true;
            }
        }

        document.getElementById('message').addEventListener('keypress', function (e) {
            if (e.key === 'Enter') {
                sendMessage();
            }
        });

        function toggleAccordionContent(contentId) {
            var content = document.getElementById(contentId);
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        }

        function makeAjaxRequest(url) {
            var xhr = new XMLHttpRequest();
            xhr.open("GET", url, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    showModal(xhr.responseText);
                }
                else {
                    showModal(xhr.responseText);
                }
            };
            xhr.send();
        }

        function showModal(message) {
            var modal = document.getElementById("myModal");
            var modalContent = document.getElementById("modal-content-text");
            modalContent.innerText = message;
            modal.style.display = "flex";
        }

        function closeModal() {
            var modal = document.getElementById("myModal");
            modal.style.display = "none";
        }
    </script>
</body>
</html>
